<div class="container">
	<% @artist.albums.each do |album| %>
	<h1><%= album.artist.name %></h1>
	<div class="row">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="<%= album.image_url %>" alt="<%= album.name %>">
			<div class="card-body">
				<h5 class="card-title text-center"><%= album.name %></h5>
				<b class="text-card"><%= album.released_at %></b>   
			</div>
		</div>
		<% end %>	
	</div>
</div>